@import url('./assets/fonts/typography.css');
#svgToSave {
  margin: auto;
  width: 1500px; 
  background-color: red;
}
#svg {
  width: 100%;
  position: relative;
}
.user {
  position: absolute;
  top:144px;
  left: 392px;
}
.nameStyle {
  color: #cbe7ff;
  font-size: 3.5em;
  font-family: "Poppins-Regular";
  margin: 0;
  line-height: 1;
}
.surnameStyle {
  color: #dcefff;
  font-size: 2em;
  font-family: "Poppins-Regular";
  margin: 0;
  line-height: 1;
}
